main {
    display: flex;
    flex-direction: column;
}

.top-container {
    display: flex;
    justify-content: space-around;
    max-height: 10px;
}

.bars-container {
    display: flex;
    gap: 20px;
}

.bar-fill {
    background-color: green;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black;
}

.bar-background {
    display: flex;
    background-color: rgba(128, 128, 128, 0.268);
    width: 100px;
    border-radius: 8px;
}

.all-items-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.item-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.349);
    border-radius: 5px;
    padding: 10px;
}

.inventory-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.items-stats {
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.349);
    border: 1px solid rgba(128, 128, 128, 0.672);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.inventory-buttons {
    padding: 5px 25px 5px 25px;
    border: 1px solid rgba(128, 128, 128, 0.672);
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.inventory-buttons:hover {
    box-shadow: 2px 2px 80px black;
}

.open-buttons {
    width: 200px;
    padding: 5px 25px 5px 25px;
    border: 1px solid rgba(128, 128, 128, 0.672);
    border-radius: 4px;
    cursor: pointer;
}

.shop-container {
    display: flex;
    flex-direction: column;
}

.shop-items-container {
    margin: 10px 0 10px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.eqp-to-sell {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.349);
    border-radius: 5px;
    padding: 10px;
}

.equipment-stats {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.672);
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    width: 70%;
}