main {
    display: flex;
    flex-direction: column;
}

.level_div {
    padding-top: 20px;
}

.level_bar {
    position: absolute;
    border-radius: 6px;
    height: 10px;
    border: 1px solid black;

}

.life_bar {
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}

.bar_bg {
    position: absolute;
    border: 1px solid black;
    border-radius: 6px;
    height: 10px;
    width: 100px;
}

.current_life_lifebar {
    border-right: 0px;
    background-color: #00FF00;
    transition: width 0.3s ease;
}

.inventory_div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.openned_inv_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 5px;
}

.item_div {
    border: 1px solid rgba(128, 128, 128, 0.397);
    border-radius: 6px;
}

.top_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.atk_btn{
    display: flex;
    justify-content: center;
}

.atk_btn button {
    padding: 10px;
    width: 100px;
    border-radius: 5px;
}

.msg_div{
    height: 100px;
}